<div class="popup popup-3d iframe-popup">
    <div class="popup-form">
        <iframe src="https://panorama07.ru/tours/elbrusia/tour.html" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" width="100%" height="640" align="left" ></iframe>
    </div>
</div>

<script>
    $(document).ready(function() {
        // $('#call-phone').mask('+9(999) 999-9999');
        $('.popup-close').on('click', function() {
            $.magnificPopup.close();
        });
    });
</script>