<div class="popup popup-tour">
  <h2 class="popup__title">Заказ Тура</h2>
  <p class="popup__description">Заполните форму и наш менеджер свяжется с вами в течение 15 минут</p>

  <div class="popup-form">
    <input class="input input--second" id="name" type="text" placeholder="Ваше имя">
    <input class="input input--second" id="email" type="email" placeholder="Ваш e-mail">

    <input type="button" id="btn-tour" value="Отправить заявку" class="button" onclick="yaCounter12755839.reachGoal('tour-send'); return true;">
  </div>
</div>
<script>
  $('.popup-close').on('click',function(){
    $.magnificPopup.close()
  })

  $('#btn-tour').on('click',function(event){
    event.preventDefault();
    var name = $('#name').val(),
      email = $('#email').val()

    if(name=="" && email=="") {
      swal({
        title: "Ошибка",
        text: "Заполните пожалуйста все поля!",
        icon: "error"
      });
    }
    else if(name=="") {
      swal({
        title: "Ошибка",
        text: "Введите пожалуйста имя!",
        icon: "error"
      });
    }
    else if(email=="") {
      swal({
        title: "Ошибка",
        text: "Введите пожалуйста email!",
        icon: "error"
      });
    }
    else {
        $.ajax({
            url: "handlers/tour.php",
            type:'post',
            data: {
              name: name,
              email: email
            }
        })
        .done(function(data) {
            $.magnificPopup.close();
            swal({
                title: "Спасибо за заявку!",
                icon: "success"
            });
        })
        .fail(function() {
            swal({
                title: "Ошибка!",
                text: "Попробуйте еще раз",
                icon: "error"
            });
        });
    }    
  })
</script>