
.button {
  color: #000;
  border-radius: 8px;
  background-color: #f9d42d;
  background-image: linear-gradient(to top, #fbb03b, #fcee21);
  text-decoration: none;
  font-size: 14px;
  padding: 10px 12px;
  border: unset;
  cursor: pointer;
}

.button:hover {
  color: white;
  background-color: #095892;
  background-image: linear-gradient(to top, #0075be, #009dff);  
}

.button--second:hover {
  color: #000;
  background-color: #f9d42d;
  background-image: linear-gradient(to top, #fbb03b, #fcee21);
}

.button--second{
  display: inline-block;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(to top, #0075be, #009dff);
  cursor: pointer;
  margin-left: 0;
}

.button--second__alternate{
  background-image: none;
  background-color: #14b831;
}

.button__book {
  margin-left: 0;
  border: none;
  text-align: center;
}

.section__footer{
  border-radius: 8px;
  background-color: #000;
  background-color: rgba(0, 0, 0, .8);
  text-align: center;
  padding: 19px 0;
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 320px) and (max-width: 720px) {


}

@media only screen and (min-width: 720px) and (max-width: 900px) { 

  .button {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}