.footer {
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  border-radius: inherit;
  color: white;
  padding: 22px 20px;
  margin-top: unset;
  position: relative;
  z-index: 1;
  bottom: -460px;
}

.footer__devs, .footer__dev {
  display: flex;
  align-items: center;
}

.footer__dev {
    margin-right: 30px;
}

.footer__dev-text {
    margin-right: 10px;
}

.footer__dev-link {
  display: none;
}

.footer__privacy {
  font-size: 14px;
  text-decoration: underline;
  text-align: start;
}
.footer__copyright {
  text-align: end;
}

.footer__dev:last-child {
  margin-right: unset;
}

.footer__privacy, .footer__copyright {
  width: 140px;
}

@media only screen and ( min-width:320px) and ( max-width:960px) {
  
  .footer, .footer__devs {
    flex-direction: column;
    line-height: 18px;
  } 
  

  .footer__devs {
    margin: 10px 0;
  } 

  .footer__dev {
    margin-right: unset;
  }

  .footer__dev-link {
    display: inline-block;
  }

  .footer__dev-logo {
    display: none;
  }

  .footer__dev-text {
    margin-right: 5px;
  }

  .footer__privacy, .footer__copyright {
    width: unset;
  }
}