/** Header */
.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  transition: top 0.5s;
}

.header__top {
  background-color: #fff;
  padding: 10px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__slogan {
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
}

.header__phone,
.header__slogan,
.header__logo,
.about__title {
  font-family: 'Cuprum', Arial, Verdana, sans-serif;
  font-weight: bold;
}

.header__raiting {
  display: grid;
  grid-row-gap: 4px;
}

.navigation__meta {
  display: none;
}

.header__raiting-mark {
  min-width: 28px;
  display: block;
  color: #fff;
  background-color: #095892;
  text-align: center;
  padding: 4px 0;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
}

.header__raiting-item {
  text-decoration: none;
  color: #000;
  display: flex;
  max-width: 180px;
}

.header__raiting-text {
  font-size: 12px;
  line-height: 12px;
  margin-left: 6px;
}

.header__phone-item {
  font-size: 26px;
}

.header__raiting-mark--second {
  background-image: none;
  background-color: #14b831;
}

.header__phone {
  display: grid;
}

.header__more {
  display: grid;
  grid-gap: 4px;
}

.header__button {
  padding: 6px 12px;
}

.header__main {
  padding: 8px 0;
  background-color: rgba(0, 0, 0, .8);
}

.header__logo {
  color: #fff;
  font-size: 50px;
  text-decoration: none;
}


@media only screen and (min-width: 320px) and (max-width: 640px)  {
  .header__top {
    display: none;
  }

  .header__logo {
    font-size: 36px;
  }

  .header__phone,.header__raiting {
    display: none;
  }

  .header__container {
    display: block;
    position: relative;
  }

  .header__button {
    display: none;
  }

  .header__top {
      padding: 6px 0;
  }

  .header__more {
    display: block;
    text-align: center;
  }

}

@media only screen and (min-width: 640px) and (max-width: 720px)  {
  
  .header__top {
    display: none;
  }
  
  .header__raiting, .header__more {
    display: none;
  }
  .header__container {
    position: relative;
    width: 100%;
  }  
  .header__top {
    padding: 6px 0;
  }
  .header__logo {
    font-size: 36px;
  }
}

@media only screen and (min-width: 720px) and (max-width: 900px)  {

  .header__more {
    display: grid;
  }

  .header__raiting {
    display: none;
  }  

  .header__container {
    position: relative;
    width: 100%;
  }
  .header__top {
    padding: 6px 0;
  }
  .header__logo {
    font-size: 36px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1140px) {
  .header__container {
    position: relative;
    width: 100%;
  }

  .header__top {
    padding: 6px 0;
  }
  
  .header__logo {
    font-size: 36px;
  }
}