.input, .textarea {
  padding: 0 10px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, .6);
  font-family: Arial, Verdana, sans-serif;
  font-size: 14px;
  color: #000;
  height: 36px;
  width:260px;
}

.input--icon {
    background-image: url("../../image/calendar-icon.png");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 4px);
    background-position-y: 1px;
}

.input--second {
  padding: 0 24px 0 10px;
  width:unset;
}

