/** Navigation*/

.navigation .tour_3d {
  display: none;
}

.navigation .recall {
  display: none;
}

.navigation__container li {
  margin-right: 4px;  
}

.navigation__container li:last-child {
  margin-right: 0;  
}

.navigation__container a {
  text-decoration: none;
  display: block;
  font-size: 14px;
  padding: 6px 10px;
  color: #fff;
}

.navigation__container {
  display: flex;
  justify-content: space-between;
}

.navigation__container a {
  text-decoration: none;
  font-size: 14px;
  padding: 6px 10px;
  color: #fff;
}

.active,
.navigation__container a:hover {
  border-radius: 8px;
  background-color: #095892;
  background-image: linear-gradient(to top, #0075be, #009dff);  
}

.navigation__toggle  {
	display: none;      
  cursor: pointer;
  z-index: 10;
}

.navigation__meta .header__button{
  display: inline-block;
  width: fit-content;
  padding: 6px 17px;
  margin-bottom: 16px;
}


@media only screen and (min-width: 320px) and (max-width: 640px)  {
  
  .navigation {
    position: fixed;
    right: -320px;
    background-color: rgba(0, 0, 0, .8);
    width: 320px;
    display: flex;
    flex-direction: column;
    padding: 120px 40px 0 40px;
    transition: all 0.2s;
    min-height: 100vh;
    top: 0px;
  }

  .nav-opened .navigation {
    right: 0px;
  }

  .navigation__container {
    position: relative;
    margin-top: 10px;
    flex-direction: column;
  }

  .nav-opened .navigation__meta {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  .navigation__phone {
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin-bottom: 16px;
  }

  .navigation__button {
    padding: 6px 37px;
    width: fit-content;
  }

  .navigation__toggle  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 15px;
    top: calc(50% - 16px);
    width: 32px;
    height: 28px;
  }

  .navigation__toggle span {
    position: relative;
    display: block;
    width: 100%;
    height: 4px;
  }

  .navigation__toggle span:first-child {
    top: -6px;
  }

  .navigation__toggle span:last-child {
    bottom: -6px;
  }

  .navigation__toggle span::before,
  .navigation__toggle span::after {
    content: '';
    height: 4px;
    background-color: wheat;
    position: absolute;
    width: 100%;
    transition: all .2s;
  }

  .navigation__toggle span::before {
    top: 4px;
  }

  .navigation__toggle span::after {
    bottom: 4px;
  }

  .nav-opened .navigation__toggle span {
    position: static;
  }

  .nav-opened .navigation__toggle span::before {
    transform: rotate(45deg);
    top: 12px;
  }

  .nav-opened .navigation__toggle span::after {
    transform: rotate(-45deg);
    top: 12px;
  }

  .navigation__container li a {
    display: inline-block;
    padding: 6px 0px;
    text-decoration: none;
    color: white;
    font-size: 18px;
  }

  .active, .navigation__container a:hover {
    border-bottom: 2px solid white;
    background-image: unset !important;
    background-color: unset !important;
    border-radius: unset !important;
  }

}


@media only screen and (min-width: 640px) and (max-width: 900px)  {

  .navigation {
    position: fixed;
    right: -320px;
    background-color: rgba(0, 0, 0, .8);
    width: 320px;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-top: 120px;
    transition: all 0.2s;
    min-height: 100vh;
    top: 0px;
  }

  .nav-opened .navigation {
    right: 0px;
  }

  .navigation__container {
    position: relative;
    margin-top: 10px;
    flex-direction: column;
  }

  .nav-opened .navigation__meta {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  .navigation__meta .header__button{
    display: inline-block;
    width: fit-content;
    padding: 6px 17px;
    margin-top: 16px;
  }

  .navigation__phone {
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin-bottom: 16px;
  }

  .navigation__button {
    padding: 6px 37px;
    width: fit-content;
  }

  .navigation__toggle  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: calc(50% - 16px);
    width: 32px;
    height: 28px;
  }

  .navigation__toggle span {
    position: relative;
    display: block;
    width: 100%;
    height: 4px;
  }

  .navigation__toggle span:first-child {
    top: -6px;
  }

  .navigation__toggle span:last-child {
    bottom: -6px;
  }

  .navigation__toggle span::before,
  .navigation__toggle span::after {
    content: '';
    height: 4px;
    background-color: wheat;
    position: absolute;
    width: 100%;
    transition: all .2s;
  }

  .navigation__toggle span::before {
    top: 4px;
  }

  .navigation__toggle span::after {
    bottom: 4px;
  }

  .nav-opened .navigation__toggle span {
    position: static;
  }

  .nav-opened .navigation__toggle span::before {
    transform: rotate(45deg);
    top: 12px;
  }

  .nav-opened .navigation__toggle span::after {
    transform: rotate(-45deg);
    top: 12px;
  }

  .navigation__container li a {
    display: inline-block;
    padding: 6px 0px;
    text-decoration: none;
    color: white;
    font-size: 18px;
  }

  .active, .navigation__container a:hover {
    border-bottom: 2px solid white;
    background-image: unset !important;
    background-color: unset !important;
    border-radius: unset !important;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1140px) {

}