.section-about,.section-services, .section-tours, .section-rooms, .section-reservetion, .section-contact {
  position: relative;
  height: 400px;
  z-index: 1;
}

.section-rooms {
  height: 1000px;
}

.section-about::after {
  content: '';
  display: block;
  padding-top: 2000px;
  padding-bottom: 614px;
  position: absolute;
  background-image: url("../../image/parallax/bg-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
  top: -1535px;
  z-index: -1;
}

.section-services::after {
  content: '';
  display: block;
  height: 1650px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
  padding-top: 110px;
  padding-bottom: 110px;
  top: -754px;
  z-index: -1;
  background-image: url("../../image/parallax/bg-2.png");
}

.section-tours::after {
  content: '';
  display: block;
  height: 1400px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
  padding-top: 211px;
  padding-bottom: 110px;
  top: -569px;
  z-index: -1;
  background-image: url("../../image/parallax/bg-3.png");
}

.section-rooms::after {
  content: '';
  display: block;
  height: 1650px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
  padding-top: 590px;
  padding-bottom: 945px;
  top: -1060px;
  z-index: -1;
  background-image: url("../../image/parallax/bg-4.png");
}

.section-reservetion::after {
  content: '';
  display: block;
  height: 1500px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
  top: -529px;
  z-index: -1;
  background-image: url("../../image/parallax/bg-5.png");
}

.section-contact::before {
  content: '';
  display: block;
  height: 900px;
  position: absolute;
  background-position: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 500px;
  width: 100%;
  color: #fff;
  top: -560px;
  z-index: -1;
  background-image: url("../../image/parallax/bg-6.png");
}

.section-contact::after {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
  top: 550px;
  z-index: 1;
  background-image: url("../../image/parallax/bg-mount.png");
}

.section-services .container {
  position: relative;
  top: -195px;
}

.section-rooms .container {
  position: relative;
  top: -270px;
}

.section-contact .container {
  position: relative;
  top: -40px;
}

.section-tours .container {
  position: relative;
  top: -90px;
}
.section-about .container {
  position: relative;
  top: -75px;
}

.parralax-window {
  height: 2000px;
  width: 100%;
}


@media only screen and (min-width:320px) and (max-width:552px) {

  .parralax-window--about {
    height: 1000px;
    margin-top: 750px;
  }
  .parallax-window--service {
    height: 1000px;
    margin-top: 500px;
  }
  .parallax-window--tours {
    height: 1000px;
    margin-top: 520px;
    margin-bottom: 200px;
  }
  .parallax-window--rooms {
    height: 1000px;
    margin-top: 1500px;
  }
  .parralax-window--reservetion {
    height: 1000px;
    margin-top: 200px;
  }




  .section-rooms {
    margin-bottom: 800px;
  }

  .section-contact::after {
    top: 595px;
  }

  .section-tours .container {
    background-color: #0071bc;
    padding-bottom: 42px;
  }

  .section-about .container {
    background-color: #0071bc;
    padding-bottom: 20px;
  }
  .section-rooms .container {
    position: relative;
    top: -115px;
    background-color: #0071bc;
    padding-bottom: 20px;
  }

  .section-reservetion .container {
    position: relative;
    top: -185px;
  }

  .section-contact .container {
    position: relative;
    top: -240px;
  }

  .section-services .container {
    position: relative;
    top: -139px;
    background-color: #0071bc;
    padding-bottom: 20px;
  }

} 

@media only screen and (min-width:552px) and (max-width:640px) {

  .parralax-window--about {
    height: 1000px;
    margin-top: 750px;
  }
  .parallax-window--service {
    height: 1000px;
    margin-top: 250px;
  }
  .parallax-window--tours {
    height: 1000px;
    margin-top: 520px;
    margin-bottom: 200px;
  }
  .parallax-window--rooms {
    height: 1000px;
    margin-top: 1500px;
  }
  .parralax-window--reservetion {
    height: 1000px;
    margin-top: 200px;
  }
  .section-rooms {
    margin-bottom: 800px;
  }

  .section-about .container {
    background-color: #0071bc;
    padding-bottom: 20px;
  }
  .section-rooms .container {
    position: relative;
    top: -115px;
    background-color: #0071bc;
    padding-bottom: 20px;
  }

  .section-tours .container {
    background-color: #0071bc;
    padding-bottom: 42px;
  }

  .section-contact::after {
    top: 595px;
  }
  
  .section-rooms {
    margin-bottom: 800px;
  }

  .section-reservetion .container {
    position: relative;
    top: -185px;
  }

  .section-contact .container {
    position: relative;
    top: -240px;
  }
} 

@media only screen and (min-width:640px) and (max-width:820px) {

  .parralax-window--about {
    height: 1000px;
    margin-top: 650px;
    margin-bottom: 50px;
  }
  .parallax-window--service {
    height: 1000px;
    margin-top: 250px;
  }
  .parallax-window--tours {
    height: 1000px;
    margin-top: 560px;
    margin-bottom: 250px;
  }
  .parallax-window--rooms {
    height: 1000px;
    margin-top: 1950px;
  }
  .parralax-window--reservetion {
    height: 1000px;
    margin-top: 200px;
  }

  .section-rooms {
    margin-bottom: 800px;
  }

  .section-about .container {
    background-color: #0071bc;
    padding-bottom: 20px;
  }
  .section-rooms .container {
    position: relative;
    top: -115px;
    background-color: #0071bc;
    padding-bottom: 20px;
  }

  .section-tours .container {
    background-color: #0071bc;
    padding-bottom: 42px;
  }

  .section-contact::after {
    top: 595px;
  }

  .section-rooms {
    margin-bottom: 800px;
  }
} 

@media only screen and (min-width:820px) and (max-width:960px) {
  
  .parralax-window--about {
    height: 1200px;
    margin-top: 270px;
    margin-bottom: 60px;
  }
  .parallax-window--service {
    height: 1000px;
    margin-top: 220px;
    margin-bottom: 120px;
  }
  .parallax-window--tours {
    height: 1000px;
    margin-top: 260px;
    margin-bottom: 400px;
  }
  .parallax-window--rooms {
    height: 1000px;
    margin-top: 1950px;
  }
  .parralax-window--reservetion {
    height: 1000px;
    margin-top: 140px;
    margin-bottom: 200px;
  }  
  .section-rooms {
    margin-bottom: 800px;
  }

  .section-about .container {
    background-color: #0071bc;
    padding-bottom: 20px;
  }
  .section-rooms .container {
    position: relative;
    top: -115px;
    background-color: #0071bc;
    padding-bottom: 20px;
  }

  .section-contact::after {
    top: 595px;
  }
} 

@media only screen and (min-width:960px) and (max-width:1100px) {
  .parralax-window--about {
    height: 1200px;
    margin-top: 250px;
    margin-bottom: 60px;
  }
  .parallax-window--service {
    height: 1000px;
    margin-top: 220px;
    margin-bottom: 120px;
  }
  .parallax-window--tours {
    height: 1000px;
    margin-top: 260px;
    margin-bottom: 400px;
  }
  .parallax-window--rooms {
    height: 1000px;
    margin-top: 480px;
    margin-bottom: 50px;
  }
  .parralax-window--reservetion {
    height: 1000px;
    margin-top: 140px;
    margin-bottom: 200px;
  }
}
