.popup{
    color: #fff;
    border-radius: 8px;
    margin: 0 auto;
    text-align: center;
    padding: 14px 0 20px;
    position: relative;
    background-color: #095892;
}

.popup {
  width: 436px;
  margin: 0 auto;
}

.popup-home {
  width: 360px;
}

.popup-3d {
  width: 1000px;
}

.popup .input {
  width: 200px;
  margin-bottom: 8px;
}

.popup .button {
  margin-top: 8px;
}

.popup__title {
  font-size: 24px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-family: 'Cuprum', Arial, Verdana, sans-serif;
  font-weight: bold;
}

.popup__description {
  font-size: 14px;
  margin-bottom: 16px;
  padding: 0px 40px;
}

.popup-close {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: -34px;
    right: -34px;
    background: transparent url("../../image/close.png") no-repeat center center;
}

.popup-tour {
  width: 360px;
}
.popup-tour .popup-form{
  flex-direction: column;
  display: flex;
  align-items: center;
}

.popup-tour .popup__description {
  padding: 0px 30px;
}

.popup-tour .button {
  padding: 10px 40px;
}

.popup-tour .input {
  width: 220px;
  margin-bottom: 8px;
}




@media only screen and (min-width:320px) and (max-width:460px) {
  .popup {
    width: 320px;
  }

 .popup-close {
    top: 3px;
    right: 3px;
 }
}

@media only screen and (min-width:460px) and (max-width:1200px) {
  .popup-3d {
    width: calc(100% - 70px)
  }
}

@media only screen and (min-width:320px) and (max-width:340px) {
  .popup {
    width: 300px;
  }

  .popup__title {
    font-size: 21px;
  }

  .popup-close {
    top: 7px;
    right: 7px;
    width: 24px;
    height: 24px;
  }
}

@media only screen and (min-width:320px) and (max-width:540px) {
  .swal-modal {
    width: calc(100% - 20px);
  }
}
