.section-rooms{ 
  background-color: #0d5697;
  color: #fff;
  text-align: center;
}

.section-rooms__description {
  font-size: 18px;
  text-align: center;
}

.section-rooms__items {
  margin-top: 30px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-row-gap: 18px;
  justify-content: space-between;
}

.section-rooms__item {
  width: 462px;
  padding: 0 11px 26px;
  border-radius: 8px;
  background-color: #000;
  background-color: rgba(0, 0, 0, .8);
}

.section-rooms__title {
  font-size: 24px;
  text-align: center;
  margin-top: 26px;
  display: block;
}

.section-rooms__item-photo {
  margin-top: 26px;
  margin-bottom: 16px;
  display: block;

}

.room_4 {
  margin-top: 8px;
}

.section-rooms__item-prices {
  margin-bottom: 14px;
}

.section-rooms__item-price {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #0071bc;
  display: flex;
  justify-content: space-between;
}

.section-rooms__price-description {
  display: flex;
  flex-direction: column;
}

.section-rooms__price-count {
  font-size: 24px;
  margin-top: 6px;
  font-family: 'Cuprum', Arial, Verdana, sans-serif;
  font-weight: bold;
}

.section-rooms__price-name {
  font-size: 18px;
}

.section-rooms__price-date {
  font-size: 14px;
  text-align: start;
}

.section-rooms__banner {
    text-align: center;
    margin-top: 16px;
    padding-top: 10px;
    padding-bottom: 14px;
    border-radius: 8px;
    background-color: #f9d42d;
    background-image: linear-gradient(to top, #fbb03b, #fcee21);
    margin-bottom: 30px;
}

.section-rooms__banner-title {
  font-size: 58px;
  color: #000;
  text-transform: uppercase;
  font-family: 'Cuprum', Arial, Verdana, sans-serif;
  font-weight: bold;
  display: block;
}

.section-rooms__banner-subtitle {
  background-color: #000;
  background: rgba(0, 0, 0, .8);
  font-size: 18px;
  padding: 5px 0;
  display: block;
}

.section-rooms__gallery {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {

  .section-rooms__title {
    font-size: 24px;
  }

  .section-rooms__items {
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);

  }

  .section-rooms__item {
    margin: 0 auto;
    width: unset;
  }

  .section-rooms__item-photo img{
    width: 275px;
  }

  .section-rooms__banner-title {
    font-size: 30px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 960px) {

  .section-rooms__items {
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);

  }

  .section-rooms__banner-title {
    font-size: 46px;
  }

  .section-rooms__item {
    margin: 0 auto;
  }
}