.section-contact{ 
  background-color:  #0d5697;
  padding-bottom: 200px;
  color: #fff;
}

.section-contact__innder {
  display: flex;
  justify-content: space-between;
}

.section-contact__form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, .8);
  padding: 65px 20px 65px;
  justify-content: space-between;
}

.section-contact__form-text {
  padding: 10px;
  max-width: 280px;
  height: 144px;
}

.section-contact__form .button {
    padding-left: 26px; 
    padding-right: 26px;
    margin: 0 auto;
}

.section-contact__form .input,.section-contact__form .textarea {
  margin-bottom: 12px;
  width: 280px;
}

.section-contact__address {
  font-size: 18px;
}

.section-contact__address p{
  margin-bottom: 24px;
}

.section-contact__phone {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 10px;
  font-family: 'Cuprum', Arial, Verdana, sans-serif;
  font-weight: bold;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-row-gap: 5px;
}

.section-contact__description {
  margin-left: 25px;
}

.section-contact__title {
  text-align: start;
}

.section-contact__social {
  font-family: 'Cuprum', Arial, Verdana, sans-serif;
  font-weight: bold;
  padding: 10px 0;
  margin-top: 50px;
  font-size: 24px;
  justify-content: space-around;
  align-items: center;
}

.section-contact .container {
  max-width: 725px;
}

.section-contact__social-items {
  display: flex;
}

.social__link {
  display: inline-block;
  margin-right: 6px;
}

.social__link img {
  display: block;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .section-contact__form {
    padding: 30px 20px 20px;
    margin: 0 auto;
  }
  
  .section-contact__innder {    
    flex-direction: column-reverse;
  }

  .section-contact__form .input,.section-contact__form .textarea {
    margin-bottom: 12px;
    width: 260px;
  }

  .section-contact__description {
    max-width: 300px;
    margin: 0 auto;
  }

  .section-contact__title {
    text-align: center;
    margin-bottom: 15px;
  }

  .section-contact__address p {
    margin-bottom: 10px;
  }

  .section-contact__links {
    margin-bottom: 10px;
  }
  .section-contact__phone {
    font-size: 20px;
  }
  .section-contact__social {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 16px;
    flex-direction: column;
    max-width: 320px;
  }

  .section-contact__social-items {
    margin-top: 5px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 720px) {
  .section-contact__phone {
    font-size: 20px;
  }

  .section-contact__social {
    font-size: 22px;
  }
}