.section-services{
    background-color:  #0071bc;
    color: #fff;
  }

  .section-services__description{
    font-size: 18px;
    text-align: center;
    display: block;
  }

  .section-services__items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }

  .section-services__item{
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  .icon{
    margin: 9px 0;
    display: block;
  }

  .section-services__item .icon::before{
    content: '';
    background-position: 0em 0em;
    width: 7.2em;
    height: 7.2em;
    background-repeat: no-repeat;
    background-size: 7.2em 108em;
    font-size: 10px;
    display: inline-block;
    background-image: url("../../image/sprite.svg");
  }

  .section-services__item span{
    margin-left: 10px;
  }

  .section-services__item .icon--pool::before{
    background-position: 0em -79.2em;
    width: 7.2em;
    height: 7.2em;
  }

  .section-services__item .icon--baggage-room:before {
    background-position: 0em -14.4em;
    width: 7.2em;
    height: 7.2em;
  }

  .section-services__item .icon--tv:before {
    background-position: 0em -50.4em;
    width: 7.2em;
    height: 7.2em;
  }

  .section-services__item .icon--sauna:before {
    background-position: 0em -86.4em;
    width: 7.2em;
    height: 7.2em;
  }

  .section-services__item .icon--payment:before {
    background-position: 0em -21.6em;
    width: 7.2em;
    height: 7.2em;
  }

  .section-services__item .icon--taxi:before {
    background-position: 0em -57.6em;
    width: 7.2em;
    height: 7.2em;
  }

  .section-services__item .icon--skiing:before {
    background-position: 0em -93.6em;
    width: 7.2em;
    height: 7.2em;
  }

  .section-services__item .icon--bankomat:before {
    background-position: 0em -28.8em;
    width: 7.2em;
    height: 7.2em;
  }
  
  .section-services__item .icon--parking:before {
    background-position: 0em -64.8em;
    width: 7.2em;
    height: 7.2em;
  }

  .section-services__item .icon--conference:before {
    background-position: 0em -7.2em;
    width: 7.2em;
    height: 7.2em;
  }

  .section-services__item .icon--transport:before {
    background-position: 0em -36em;
    width: 7.2em;
    height: 7.2em;
  }

  .section-services__item .icon--food:before {
    background-position: 0em -72em;
    width: 7.2em;
    height: 7.2em;
  }
  
  .section-services__item .icon--ice-rink:before {
    background-position: 0em -43.2em;
    width: 7.2em;
    height: 7.2em;
  }

  .section-services__items{
    margin-top: 48px;
  }

  
@media only screen and (min-width: 320px) and (max-width: 550px) {

  .section-services__title {
    font-size: 37px;
  } 
  
  .section-services__items {
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 7px;
  }  

  .section-services__item {
    font-size: 14px;
    flex-direction: column;
    text-align: center;
}
}

@media only screen and (min-width: 550px) and (max-width: 900px) {

  .section-services__items {
    grid-template-columns: repeat(2,1fr)
  }
}