.section-slider__container{
  position: absolute;
  top: calc(40% - 50px);
  left: calc(50% - 480px);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  z-index: 99;
}
.section-slider__title{
  color: #ffffff;
  font-family: 'Cuprum', Arial, Verdana, sans-serif;
  font-weight: bold;
  font-size: 52px;
}
.section-slider__description{
  background-color: rgba(0, 0, 0, .8);
  padding: 0 30px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 4px;
}
.section-slider__description .button{
  margin-left: 30px;
}

.section-slider__booking{
  color: #fff;
  padding: 16px 18px 14px 14px;
  background-color: #095892;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  max-width: 236px;
}
.booking__title{
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 14px;
  font-family: 'Cuprum', Arial, Verdana, sans-serif;
  font-weight: bold;
}
.booking{
  display: grid;
  grid-row-gap: 8px;
}
.booking-date{
  position: relative;
}
.booking-date__arrival input,.booking-date__departure input{ 
  padding: 0 24px 0 10px;
  height: 36px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, .6);
  font-family: Arial, Verdana, sans-serif;
  font-size: 14px;
  color: #000;
}
.booking-date input{
  background-image: url("../../image/calendar-icon.png");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 4px);
  background-position-y: 1px;
}
.swiper-container {
  height: 1080px;
  max-height: 1080px;
}
.swiper-wrapper{
  height: 1080px;
}
.swiper-slide{
  background-repeat: no-repeat;
  border-style: none;
  height: 100%;
  max-height: 1080px;
  background-size: cover;
  background-position: center top;
}
.swiper-slide-1{
  background-image: url("../../image/slider-0.jpg");
}
.swiper-slide-2{
  background-image: url("../../image/slider-2.jpg");
}
.swiper-slide-3{
  background-image: url("../../image/slider-3.jpg");
}
.swiper-slide-4{
  background-image: url("../../image/slider-4.jpg");
}
.swiper-slide-5{
  background-image: url("../../image/slider-5.jpg");
}

.swiper-pagination-bullet-active{
  background-image: linear-gradient(to top, #0075be, #009dff);
  outline: unset;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
  outline: unset;
}

.swiper-pagination-bullet{
  width: 28px;
  height: 28px;
  border-radius: 8px;
  background-color:#fff;
  opacity: 1 !important; 
}
.section-slider__pagination{
  background-color: rgba(0, 0, 0, .8);
  padding: 8px 4px 4px 4px;
  width: auto !important;
  border-radius: 8px;
  left: calc(50% - 480px) !important;
  bottom: calc(50% + -270px) !important;
}


@media only screen and (min-width: 320px) and (max-width: 620px) {
  
  .section-slider__container {
    top: calc(50% - 145px);
    left: calc(50% - 143px);
    flex-direction: column;
}

  .section-slider__title {
      font-size: 18px;
      max-width: 350px;
      align-self: center;
      display: flex;
      flex-direction: column;
  }

  .section-slider__booking {
    margin-top: 60px;
    align-self: center;
    max-width: 260px;
  }

  .section-slider__description {
    padding: 6px 15px;
    min-height: 38px;
  }

  .section-slider__description .button {
    margin-left: 15px;
  }

  .section-slider__pagination {
    left: calc(50% - 94px) !important;
    bottom: unset !important;
    top: 560px !important;
  }
}

@media only screen and (min-width: 620px) and (max-width: 720px) {

  .section-slider__container {
    left: unset;
  }

  .section-slider__title {
    font-size: 26px;
  }

  .section-slider__description {
    padding: 6px 15px
  }

  .section-slider__pagination {    
    left: 20px !important;
  }
}

@media only screen and (min-width: 720px) and (max-width: 900px) {

  .section-slider__container {
    left: unset;
  }

  .section-slider__title {
      font-size: 35px;
  }

  .section-slider__description {
    padding: 0 15px
  }

  .section-slider__pagination {
    left: 20px !important;
  }
}

@media only screen and (min-width: 900px) and (max-width: 980px) {

  .section-slider__title {
      font-size: 46px;
  }

  .section-slider__description {
    padding: 0 15px
  }

  .section-slider__pagination {
    left: 20px !important;
  }
}
