.section-about {
    background-color:  #009dff;
    color: white;
}

.section-about__description {
    padding: 0px 43px;
}

.section-about__inner {
    margin-top: 42px;
    display: grid; 
    grid-template-columns: 1fr 1fr;   
    column-gap: 25px;
    margin-bottom: 30px;
}

.section-about__slider {
    height: 484px;
    width: 454px;
    margin: 0;
 }

 .section-about__advantage {
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 18px;
 }

 .section-about__advantage:last-child {
  margin-bottom: 0;
 }

 .section-about__advantage-title {
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 8px;
    font-family: 'Cuprum', Arial, Verdana, sans-serif;
    font-weight: bold;
 }
 
 .swiper-button-next, .swiper-button-prev {
   margin-top:0;
   width: 32px;
   height: 32px;
}

 .swiper-button-next {
    background: url("../../image/controls.png") no-repeat -43px -32px;
 }

 .swiper-button-prev {
    background: url("../../image/controls.png") no-repeat 0 -32px;
 }

 .swiper-button-next:hover {
    background: url("../../image/controls.png") no-repeat -43px 0;
 }

 .swiper-button-prev:hover {
    background: url("../../image/controls.png") no-repeat 0 0;
 }

@media only screen and (min-width: 320px) and (max-width: 484px) {
  
.section-about__inner {
    column-gap: unset;
    grid-template-columns: 1fr;
    grid-row-gap: 25px;
}
.section-about__slider {
  width: unset;
}

.section-about__description {
  padding: unset;
}

}

@media only screen and (min-width: 484px) and (max-width: 940px) {

  .section-about__slider {
    width: 454px;
    margin: 0 auto;
  }

  .section-about__inner {
    column-gap: unset;
    grid-template-columns: 1fr;
    grid-row-gap: 25px;
}

.section-about__description {
  padding: unset;
}

}

