.section-tours {
  background-color:  #009dff;
  color: white;
}

.section-tours__inner {
  margin-top: 70px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.section-tours__description {
  font-size: 18px;
  display: block;
  text-align: center;
}

.section-tours__items {
  list-style-type: disc;
  width: 344px;
}

.section-tours__items li {
  margin-bottom: 30px;
  margin-left: 22px;
  font-size: 18px;
}

.section-tours__gallery {
  width: 586px;
  display: grid;
  grid-template-columns: repeat(4,136px);
  justify-content: space-between;
  grid-row-gap: 20px;
  grid-template-rows: repeat(2,136px);
}

.section-tours__photo:nth-child(n+5) {
  margin-bottom: 15px;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
  .section-tours__inner {
    flex-direction: column;
  }

  .section-tours__items {
     width: unset;
  }
  
  .section-tours__gallery {
    width: 298px;
    grid-template-columns: repeat(2,136px);
    grid-template-rows: repeat(3,136px);
    margin: 0 auto;
  }
}

@media only screen and (min-width: 480px) and (max-width: 820px) {
  .section-tours__inner {
    flex-direction: column;
  }

  .section-tours__items {
     width: unset;
}
  
  .section-tours__gallery {
    width: 460px;
    grid-template-columns: repeat(3,136px);
    grid-template-rows: repeat(3,136px);
    margin: 0 auto;
  }
}

@media only screen and (min-width: 820px) and (max-width: 960px) { 
 
  .section-tours__gallery {
    width: 460px;
    grid-template-columns: repeat(3,136px);
    margin: 0 auto;
  }
}