.section-reservetion {
    background-color: #0071bc;
    color: white;
    text-align: center;
}

.section-reservetion__description {
  margin-top: 28px;
  font-size: 14px;
}

.section-reservetion__description p {
  width: 844px;
  margin: 0 auto;
  margin-bottom: 20px;
}


.section-reservetion__form {
  width: 844px;
  margin: 0 auto;
  padding: 28px 20px 24px;
  border-radius: 8px;
  background-color: #000;
  background-color: rgba(0, 0, 0, .8);
  text-align: center;
}

.form__group {
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(3,260px);
  justify-content: space-between;
  grid-auto-flow: column;
  grid-row-gap: 8px;
}

.section-reservetion__choise {
  display: flex;
  justify-content: space-between;
  width:260px;
}

.section-reservetion__choise select {
  width: 124px;
}

.section-reservetion__form-text {
  grid-row-start: 1;
  grid-row-end: 4;
  height: unset;
  padding: 10px;
}

.section-reservetion__notice {
  color: red;
  font-size: 14px;
  margin: 10px 0px 16px;
  text-align: start;
}

@media only screen and (min-width: 640px) and (max-width: 900px) { 
  .section-reservetion__form {
    width: 585px;

  }

  .section-reservetion__description p {
    width: 585px;
  }

  .form__group {
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(2,260px);
  }

  .section-reservetion__form-text {
    grid-row-start: 2;
    grid-row-end: 6;
    height: unset;
  }
}

@media only screen and (min-width: 320px) and (max-width: 640px) { 
  .section-reservetion__form {
    width: 300px;

  }

  .section-reservetion__description p {
    width: 300px;
  }

  .form__group {
    display: grid;
    grid-template-rows: repeat(9,1fr);
    grid-template-columns: repeat(1,260px);
  }

  .section-reservetion__form-text {
    grid-row-start: 7;
    grid-row-end: 10;
  }
}