@import 'fonts.css';
@import 'normalize.css';

html,body{
  width: 100%;
  height: 100%;
  font: normal 16px Arial, Verdana, sans-serif;
  /* scroll-behavior: smooth; */
}
/** General */
.container{
  max-width: 960px;
  margin: 0 auto;
}
*{
  box-sizing:  border-box
}
a {
  color: white;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.section__title {
  font-family: 'Cuprum', Arial, Verdana, sans-serif;
  font-weight: bold;
  font-size: 52px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.section__subtitle {
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 14px;
  font-family: 'Cuprum', Arial, Verdana, sans-serif;
  font-weight: bold;
  display: inline-block;
}

.section__description {
  font-size: 18px;
  display: block;
  text-align: center;
}

.input::placeholder,
.textarea::placeholder,
.section-reservetion__date-arrival::placeholder, 
.section-reservetion__date-departure::placeholder,
.section-reservetion__form-text::placeholder {
  color: #000;
}

.swal-modal {
  background-color: #095892;
  width: 512px;
}

.swal-modal .sa-icon.sa-error {
  border-color: #F27474;
}
.swal-icon--success:after, .swal-icon--success:before {
  content: unset;
}

.swal-icon--success__hide-corners {
  background-color: unset;
}

.swal-title {
  text-transform: uppercase;
  color: #fff;
}

.swal-text {
  color: #fff;
}

.swal-footer {
  text-align: center;
  margin-top: 25px;
}

.swal-button {
  color: #000 !important;
  background-color: #f9d42d !important;
  background-image: linear-gradient(to top, #fbb03b, #fcee21) !important;
  font-weight: 400;
  font-size: 17px;
  padding: 10px 32px;
  margin: 0;
  cursor: pointer;
}

.swal-button:hover {
  background-color: rgb(140, 212, 245)!important;
  background-image:unset !important;
}

.swal-button:focus {
  display: inline-block;
  box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;
}

@media only screen and (min-width: 320px) and (max-width: 620px) { 
  .container {
    padding: 0 10px;
  }
  .section__title {
    font-size: 38px;
  }
}

@media only screen and (min-width: 620px) and (max-width: 960px) { 
  .container {
    padding: 0 20px;
  }
}


